- name: Add Grafana GPG key
  tags: grafana,monitoring,ubuntu
  apt_key:
    url: https://packages.grafana.com/gpg.key
    state: present

- name: Add Grafana repository
  tags: grafana,monitoring,ubuntu
  apt_repository:
    repo: "deb https://packages.grafana.com/oss/deb stable main"
    state: present

- name: Install the grafana package
  tags: grafana,monitoring,ubuntu
  apt:
    name: grafana
    state: present
    update_cache: yes

- name: Enable and start Grafana
  tags: grafana,monitoring,ubuntu
  systemd:
    name: grafana-server
    enabled: yes
    state: started

- name: Create Prometheus user
  user:
    name: prometheus
    shell: /usr/sbin/nologin
    system: yes

- name: Create directories for Prometheus
  file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Download Prometheus binary
  get_url:
    url: https://github.com/prometheus/prometheus/releases/download/v3.9.1/prometheus-3.9.1.linux-amd64.tar.gz
    dest: /tmp/prometheus.tar.gz

- name: Extract Prometheus
  unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /tmp
    remote_src: yes

- name: Move Prometheus binaries
  copy:
    src: /tmp/prometheus-3.9.1.linux-amd64/{{ item }}
    dest: /usr/local/bin/{{ item }}
    owner: prometheus
    group: prometheus
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Copy Prometheus config
  copy:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'

- name: Create Prometheus systemd service
  copy:
    dest: /etc/systemd/system/prometheus.service
    content: |
      [Unit]
      Description=Prometheus
      Wants=network-online.target
      After=network-online.target

      [Service]
      User=prometheus
      Group=prometheus
      Type=simple
      ExecStart=/usr/local/bin/prometheus \
        --config.file /etc/prometheus/prometheus.yml \
        --storage.tsdb.path /var/lib/prometheus \
        --web.listen-address=:9090

      [Install]
      WantedBy=multi-user.target

- name: Deploy Prometheus config
  copy:
    src: prometheus.yml
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'

- name: Enable and start Prometheus
  tags: prometheus,monitoring,ubuntu
  systemd:
    name: prometheus
    enabled: yes
    state: started

- name: Clean up temp files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/prometheus.tar.gz
    - /tmp/prometheus-3.9.1.linux-amd64


