---

- hosts: all
  become: true
  pre_tasks:

  - name: Update repository cache
    tags: always
    apt:
      update_cache: yes
    changed_when: false

- hosts: web_servers
  become: true
  tasks:

  - name: Install nginx
    tags: nginx,ubuntu
    apt:
      name: nginx
      state: present
    when: ansible_distribution in ["Debian", "Ubuntu"]

  - name: Copy default html file for website
    tags: nginx,ubuntu
    copy:
      src: default_site.html
      dest: /var/www/html/index.html
      owner: root
      group: root
      mode: 0644

- hosts: db_servers
  become: true
  tasks:

  - name: Install PostgreSQL
    tags: postgresql,db,ubuntu
    apt:
      name: postgresql
      state: present
    when: ansible_distribution in ["Debian", "Ubuntu"]

- hosts: monitoring_servers
  become: true
  tasks:

  - name: Install required packages
    apt:
      name:
        - gnupg2
        - curl
        - software-properties-common
      state: present

  - name: Add Grafana GPG key
    tags: grafana,monitoring,ubuntu
    apt_key:
      url: https://packages.grafana.com/gpg.key
      state: present

  - name: Add Grafana repository
    tags: grafana,monitoring,ubuntu
    apt_repository:
      repo: "deb https://packages.grafana.com/oss/deb stable main"
      state: present

  - name: Install the grafana package
    tags: grafana,monitoring,ubuntu
    apt:
      name: grafana
      state: present
      update_cache: yes

  - name: Enable and start Grafana
    tags: grafana,monitoring,ubuntu
    systemd:
      name: grafana-server
      enabled: yes
      state: started

  - name: Install Prometheus
    tags: prometheus,monitoring,ubuntu
    apt:
      name: prometheus
      state: present

  - name: Enable and start Prometheus
    tags: prometheus,monitoring,ubuntu
    systemd:
      name: prometheus
      enabled: yes
      state: started

- hosts: all
  become: true
  tasks:

  - name: Create node_exporter user
    tags: always
    user:
      name: node_exporter
      shell: /usr/sbin/nologin
      system: yes

  - name: Download node exporter
    tags: always
    get_url:
      url: https://github.com/prometheus/node_exporter/releases/download/v1.10.2/node_exporter-1.10.2.linux-amd64.tar.gz
      dest: /tmp/node_exporter.tar.gz

  - name: Extract node exporter
    tags: always
    unarchive:
      src: /tmp/node_exporter.tar.gz
      dest: /tmp
      remote_src: yes

  - name: Move binary
    tags: always
    copy:
      src: /tmp/node_exporter-1.10.2.linux-amd64/node_exporter
      dest: /usr/local/bin/node_exporter
      owner: node_exporter
      group: node_exporter
      mode: '0755'
      remote_src: yes

  - name: Clean up temp files
    file:
      path: "{{ item }}"
      state: absent
    loop:
      - /tmp/node_exporter.tar.gz
      - /tmp/node_exporter-1.10.2.linux-amd64

  - name: Create systemd service
    copy:
      dest: /etc/systemd/system/node_exporter.service
      content: |
        [Unit]
        Description=Node Exporter
        After=network.target

        [Service]
        User=node_exporter
        ExecStart=/usr/local/bin/node_exporter

        [Install]
        WantedBy=multi-user.target

  - name: Reload systemd
    systemd:
      daemon_reload: yes

  - name: Enable and start node exporter
    systemd:
      name: node_exporter
      enabled: yes
      state: started

  - name: Install net-tools
    tags: always
    apt:
      name: net-tools
      state: present

- hosts: monitoring_servers
  become: true
  tasks:

  - name: Stop and disable Prometheus Node Exporter
    systemd:
      name: prometheus-node-exporter
      enabled: no
      state: stopped

  - name: Restart node_exporter
    systemd:
      name: node_exporter
      state: restarted
